<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Monolyth API</title>
	<link rel="stylesheet" href="./css/dashboard.css">
<body class="api-body">
	<script src="/socket.io/socket.io.js"></script>
	<script>
	    var site = location.href.split('#')[1];
		var socket = io();
		var visitorData = {
			referringSite: document.referrer,
			page: site

		}
		socket.emit('visitor-data', visitorData);
	</script>

</body>

</html>
