/* Dashboard.css - Bryce Mercines 2017 */

* {
  box-sizing: border-box;
}



#rdata {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rdata li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#rdata li a:hover:not(.header) {
  background-color: #eee;
  transition: 0.3s;
}

#editor {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

#code-loader {
  display: none;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

#code_bank {
  margin: 10px;
  display: none;
}

.main-panel {
     background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(4, 11, 36, 0.92), 
      rgba(22, 47, 130, 0.5)
      ), 
     url("../assets/img/galaxy.jpg");
     background-size: cover;
     height: 100%;
}

#menu {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
      background: linear-gradient(
      rgba(13, 110, 149, 0.91), 
      rgba(22, 47, 130, 0.5)
      );
    border-radius: 50%; /* Rounded corners */
    height: 70px;
     box-shadow: 0 0 5px #20F8F8;
}


.app-container {
  border-radius:10px;margin-left:50px;margin-right:50px; background-color: rgba(0,0,0,0.6);
}

.bg-blur {
  background-color: rgba(0,0,0,0.6);
}

/*api styling */

.api-logo {
  max-width: 350px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.api-body {
  margin: 0px;
  padding: 0px;
  background-color: #000 ;
}

